<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aaa</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
</head>
<body>
<form class="box" action="/get" method="get">
    <h1>Login</h1>
    <input type="text" name="name" placeholder="Username">
    <input type="text" name="pwd" placeholder="Password">
    <input type="submit" value="Login">
</form>
</body>
<script>
    $.ajax({
        url: "/submit",
        type: "get",
        contentType: "application/json;charset=utf-8",
        dataType:"json",
        success: function (data) {
            console.log(data[0]);
            alert("aaa");
        },
    });
</script>
</html>